[mysqld]
# サーバの設定
bind-address = 0.0.0.0  # 任意のIPアドレスから接続可能にする（外部から接続を許可する場合）
port = 3306             # MySQLのポート番号
datadir = /var/lib/mysql # データベースファイルの保存場所（システムによって異なる場合あり）

# 認証プラグインの設定（例: mysql_native_password）
default_authentication_plugin = mysql_native_password

# その他の設定
sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
innodb_buffer_pool_size=64M
max_connections=10
table_open_cache=64
thread_cache_size=2
query_cache_size=0
